{% extends "base.html" %}

{% block content %}
    <h1>TCB Code of Conduct</h1>
    <p>(Based on the <a href="https://iclr.cc/public/CodeOfConduct">ICLR Code of Conduct</a>)</p>

    <p>The Transactions on Computational Biology (&ldquo;TCB&rdquo;) aims at providing an online publication venue in which open exchange of ideas, freedom of thought and expression, and respectful scientific debate are pursued. This requires a community, including authors, reviewers, editors and public commentators, to recognize and respect the inherent worth of every person. This Code of Conduct lays out conduct expected by every participant of TCB.</p>

    <h2>Who</h2>
    <p>TCB is based on an open review process. We consider authors, reviewers, action editors, editors-in-chief, advisory board members, staff members, and public commentators as the participants of TCB (&ldquo;Participants&rdquo;). Each and every Participant must agree with the Code of Conduct before participating in any activity of TCB. Editors-in-Chief of TCB (&ldquo;Editors&rdquo;) will enforce this code and expect cooperation from all Participants to help ensure a safe and productive scientific venue for everyone.</p>

    <h2>Scope</h2>
    <p>TCB commits itself to providing an environment in which all Participants can engage in scientific discourses free from harassment, bullying, discrimination and retaliation. This includes offensive comments related to gender, gender identity and expression, age, sexual orientation, disability, physical appearance, body size, race, ethnicity, religion (or lack thereof), politics, technology choices or any other personal characteristics. TCB will not tolerate bullying, intimidation, personal attacks, harassment and any behaviour that interferes with another Participant&rsquo;s full participation.</p>
    <p>The code applies to all activities of TCB, including but not limited to scientific discussion using online tools used and/or maintained by TCB for the purposes of reviewing and publication, direct correspondences between Participants regarding manuscripts under review, in press and published at TCB. In particular, we strictly forbid trolling, use of inappropriate imagery, offensive language and doxxing, or revealing any personal information to target any Participant.</p>

    <h2>Outcomes</h2>
    <p>Any Participant is expected to comply with the code whenever asked by any other Participant or Editors of TCB. If a Participant engages in inappropriate behaviour forbidden by the Code of Conduct, Editors may take any action they deem appropriate, including: issuing a formal or informal warning to the offender, barring them from submitting a manuscript, comments or reviews on TCB&rsquo;s OpenReview for a fixed duration, reporting the incident to the offender&rsquo;s employer and/or funding agencies, and reporting the incident to law enforcement. If any action is taken by Editors, Editors will prepare an appeals process for the offending Participant.</p>

    <h2>Reporting</h2>
    <p>If you fall victim to the violation of the Code of Conduct or witness the violation of the Code of Conduct by other Participants, please email the Editors of TCB at <a href="mailto:tcb-editors@tcompbio.org">tcb-editors@tcompbio.org</a>. Your reports will be handled with discretion. Editors will strive to respond to your report within two weeks of receiving it. Editors welcome feedback from all Participants; please contact us.</p>
{% endblock %}
