{% extends "base.html" %}

{% block content %}

    <h1>Contact Information</h1>

    <p>Before contacting us, please make sure that your question is not answered in the
        <a href="faq.html">FAQ</a>. TCB is run by a small team of volunteers; please be mindful
        before addressing inquiries to the editorial team.</p>

    <p>Please address any inquiries about the status of a paper under review to the Action Editor
        in charge of your paper. This can be done through OpenReview by submitting a comment and
        putting the AE as a reader. If your AE is not responsive, reach out to us at
        <a href="mailto:tcb-editors@tcompbio.org">tcb-editors@tcompbio.org</a>.</p>

    <p>If you found issues on the TCB website, such as typos or broken links, please report them to
        the <a href="https://github.com/tcompbio/tcompbio/issues">GitHub issue tracker</a>.</p>

    <p>For any other issues, please contact our editors-in-chief by emailing
        <a href="mailto:tcb-editors@tcompbio.org">tcb-editors@tcompbio.org</a>.</p>

    <h1>Organization</h1>

    <p>TCB is a self-published, volunteer-run open-access journal dedicated to computational biology.</p>

{% endblock %}
