{% extends "base.html" %}

{% block extraheader %}
<style>
    h3 {
        margin-top: 30px;
    }
    .editors li {
        margin-bottom: 15px;
    }
    .editors .name {
        font-weight: bold;
    }
    .editors a {
        text-decoration: none;
    }
    .editors .research {
        display: block;
        font-size: 88%;
        color: #555;
        max-width: 500px;
    }
</style>
{% endblock %}

{% block content %}

    <h1>TCB Editorial Board</h1>

    <h3>Editors-in-Chief</h3>
    <ul class="editors">
        {% for e in editors_in_chief %}
        <li><a class="name" href="{{ e.url }}">{{ e.name }}</a>, {{ e.affiliation }}. <span class="research">{{ e.expertise }}</span></li>
        {% else %}
        <li><em>To be announced.</em></li>
        {% endfor %}
    </ul>

    <h3>Managing Editor</h3>
    <ul class="editors">
        {% for e in managing_editors %}
        <li><a class="name" href="{{ e.url }}">{{ e.name }}</a>, {{ e.affiliation }}.</li>
        {% else %}
        <li><em>To be announced.</em></li>
        {% endfor %}
    </ul>

    <h3>TCB Action Editors</h3>
    <ul class="editors">
        {% for e in action_editors %}
        <li><a class="name" href="{{ e.url }}">{{ e.name }}</a>, <span class="affiliation">{{ e.affiliation }}</span>. <span class="research">{{ e.research }}</span> <span class="research"> [<a href="https://openreview.net/profile?id={{ e.id }}">OpenReview</a>] {% if e.gscholar %}[<a href="{{ e.gscholar }}">Google Scholar</a>]{% endif %} </span></li>
        {% else %}
        <li><em>To be announced.</em></li>
        {% endfor %}
    </ul>

{% endblock %}
